html, body{
    height: 100%;
}

img{
    max-width: 100%;
}

img.imgCarta{
    width: 400px;
    height: 250px;
}

img.imgPatrocinadores{
    width: 250px;
    height: 250px;
    margin:10px auto;
	display:block;
}

img.imgFacultad{
    width: 1200px;
    height: 400px;
}

img.imgArticulo{
    width: 200px;
    height: 200px;
}

img.imgIcon{
    width: 50px;
    height: 50px;
}

#cover{

    
   background-image: url('../image/UDIng.jpg');
    background-size: cover;
    height: 55%;
    color:black;
    text-align: center;
    align-items: center;
}
.bg-article {
    background-color: #B9B6B6 !important;
  }

.bg-article-index {
    background-color: #709A5C !important;
}